<h2>Code</h2>

<p>
    I have included a couple of my public profiles below. Rather than publishing information which may change in a moments notice the sites I frequent may give a better method of communication.
</p>

<p class="icons">
	<a href="//github.com/bmallred" title="GitHub"><img src="images/github.png" alt="GitHub" /></a>
	<a href="//bitbucket.org/bmallred" title="BitBucket"><img src="images/bitbucket.png" alt="BitBucket" /></a>
	<a href="//launchpad.net/~bmallred" title="LaunchPad"><img src="images/launchpad.png" alt="LaunchPad" /></a>
</p>