<h2>Code</h2>

<p>
    I have included a couple of my public profiles below. Rather than publishing information which may change in a moments notice the sites I frequent may give a better method of communication.
</p>

<h2>Public Profiles</h2>
        
<ul class="reference-list">
    <li><a href="//github.com/bmallred" title="GitHub">GitHub</a></li>
    <li><a href="//bitbucket.org/bmallred" title="BitBucket">BitBucket</a></li>
    <li><a href="//launchpad.net/~bmallred" title="LaunchPad">LaunchPad</a></li>
    <li><a href="//stackoverflow.com/users/200869/bryan-allred" title="StackOverflow Profile">StackOverflow</a></li>
</ul>