<h2>My passion</h2>

<p>
	Since my code shifts quite rapidly I'll just point you to some of the public water holes where some of my projects are shared. Primarily I program against the Microsoft stack, but this is done while using GNU/Linux as my primary operating system so you can imagine my code base. Some of the languages I use frequently are the following:
</p>

<ul>
	<li>C/C++/C#</li>
	<li>Mono (including MonoTouch and Mono for Android)</li>
	<li>ASP.Net (WebForms and MVC)</li>
	<li>Java</li>
	<li>PHP</li>
	<li>Web development (HTML5, CSS3, JavaScript)</li>
	<li>Python</li>
</ul>

<p class="icons">
	<a href="//github.com/bmallred" title="GitHub"><img src="images/github.png" alt="GitHub" /></a>
	<a href="//bitbucket.org/bmallred" title="BitBucket"><img src="images/bitbucket.png" alt="BitBucket" /></a>
	<a href="//launchpad.net/~bmallred" title="LaunchPad"><img src="images/launchpad.png" alt="LaunchPad" /></a>
</p>