<h2>A little bit about myself</h2>

<p>
    Currently self employed as a software developer providing solutions for web, desktop, and mobile platforms. The technologies used may vary but the end result is always the same: satisfaction.
</p>

<p>
    I am also a huge fan of the <a href="http://www.pragprog.com/titles/tpp/the-pragmatic-programmer" title="Pragmatic Programmer">Pragmatic Programmer</a> and recommend it to any programmer looking for self improvement or maybe just a casual read. Trust me... it just may change the way you look at things!
</p>

<!-- Google+ Profile Badge -->
<div class="g-plus" data-height="69" data-href="//plus.google.com/112949321083048638287" data-rel="author"></div>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>