<h2>About me</h2>

<p>
    Currently employed as a software developer providing messaging solutions using various web and desktop applications. Primarily working in C#, ASP.Net, JavaScript, and whatever procedural language the current database(s) uses . However, learning new languages (shallow or deep) is always fun and exciting (like my current exploration in to LISP).
</p>

<p>
    My &quot;bible&quot; would be the <a href="http://www.pragprog.com/titles/tpp/the-pragmatic-programmer" title="Pragmatic Programmer">Pragmatic Programmer</a> which has forged how I approach every problem. Interesting factoid though is a lot of it can be applied just as well to real life outside of the computer-verse. Actually, periodic browsing of the book has helped to refresh its wisdom within my work and so I find myself continuously striving to perfect certain techniques.
</p>

<!-- Google+ Profile Badge -->
<div class="g-plus" data-height="69" data-href="//plus.google.com/112949321083048638287" data-rel="author"></div>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>